
<div class="row" id="cars-data">
    <a href="/getCarsFromApi"><button class="btn btn-lg btn-primary" id="init-btn">Get Latest Cars Details</button></a>
    <a href="/cars"><button class="btn btn-lg btn-primary" id="get-btn">Show Cars Details from Database</button></a>
</div>
