
<div class="row" id="cars-data">
    <h1>Cars Blog</h1><br>
    <h2>Get the latest Cars data from Edmunds API</h2><br>
    <h4>This app is built on Node.js, Express.js, MongoDB, Handlebars. </h4>
    <h4>It populates the MongoDB hosted with mLab after getting data from API and displays all the latest cars that can later be updated or deleted from DB. You can also reset the DB using the reset button at the top. </h4><br>
    <a href="/getCarsFromApi"><button class="btn btn-lg btn-primary" id="init-btn">Get Cars Data from API</button></a>
</div>
