body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.body-content {
    padding-top: 80px;
}

.btn {
	margin:  5px;
}

.topbtn {
    margin: 7px 5px 0px 5px;
}

.bodybtn {
    margin: 5px;
}

#myFooter {
	margin-right:auto;
	margin-left:auto;
}

#footer-link {
	color: #000;
	padding-bottom: 20px;
}

#footer-link:hover {
	text-decoration: underline;
}